 <div class="container fade-in">
      <div class="card">
        <h3>Reset Password</h3>
        
        <div *ngIf="message" class="alert alert-success">{{ message }}</div>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

        <form (ngSubmit)="onSubmit()" *ngIf="!success" #f="ngForm">
          <div class="form-group">
            <label>New Password</label>
            <input type="password" 
                   [(ngModel)]="newPassword" 
                   name="newPass" 
                   required 
                   minlength="6"
                   pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{6,}$"
                   #pass="ngModel"
                   class="form-control" 
                   placeholder="Enter new strong password">
            
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger small mt-1">
               <div *ngIf="pass.errors?.['pattern']">
                  Must contain 1 Uppercase, 1 Number, 1 Symbol (@$!%*?&).
               </div>
               <div *ngIf="pass.errors?.['minlength']">
                  Must be at least 6 characters.
               </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="loading || f.invalid">
            {{ loading ? 'Updating...' : 'Set New Password' }}
          </button>
        </form>
      </div>
    </div>